@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Righteous&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body { 
    font-size: 100%;
}
#container { 
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    display: flex;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-top: 30px;
}
.menu-nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding-left: 270px;
}
.menu-nav li a {
    color: #2F2325;
}
.menu-nav li a:hover{
    color: rgb(124, 109, 109);
}
.logo-nav img { 
    height: 35px;
}
.carrinho-de-compras { 
    margin-left: 40px;
}

#conteudo-principal { 
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.sobre-loja { 
    background-color: #F9D9AA;
    margin-bottom: 60px;
    padding-bottom: 30px;
}
.sobre-loja img {
    width: 500px;
    height: 350px;
    margin-top: 30px;
}
.titulo-site { 
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    margin-top: 60px;
}
.titulo-site span {
    color: #FF912B;
}
.sub-titulo {    
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

.produtos-venda ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.produtos-venda li { 
    list-style: none;
    margin-bottom: 24px;
}
.produtos-venda h4,
.produtos-venda p { 
    text-align: center;
}
.imgem-produtos { 
    border: 0.3px solid #ccc;
    border-radius: 30px;
    padding-bottom: 20px;
    margin: 0 5px;
    filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
}
.imgem-produtos img { 
    align-items: center;
    max-width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
}

.button {
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 170px;
    height: 46px;
    border: none;
    margin: 3% 17%;
    /*Edição texto*/
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #2F2325;
}
.button:hover { 
    background-color: rgba(236, 214, 196, 0.53);
}

.rodape{ 
    background-color: #F9D9AA;
    margin-top: 60px;
    padding: 30px;
    text-align: center;    
}
.rodape img { 
    height: 70px;
}

/*Media Queries*/ 
@media screen and (min-width: 300px) and (max-width: 767px) {
    #container {
        max-width: 90%;
        display: block;
    }
    .cabecalho { 
        display: block;

    }
    .logo-nav img { 
        height: 30px;
        display: block;
        margin: 4% auto;
        padding: 0;
    }
    .menu-nav ul {
        padding: 0;
    }
    .menu-nav li { 
        font-size: 0.9rem;
        margin: 0 auto;
    }
    .carrinho-de-compras img { 
        height: 30px;
        display: block;
        margin: 25px 100px;
    }
    .titulo-site { 
        margin: 0 auto;
        padding: 0 3%;
        font-size: 1rem;
    }
    .sub-titulo {
        margin: 0 auto;
        font-size: 0.9rem;
    }
    .sobre-loja img {
        width: 80%;
        height: 10%;
        margin: 1% 10%;
    }
    .produtos-venda ul { 
        display: block;
    }
    .button { 
        margin: 3% 20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    #container { 
        max-width: 90%;
        display: block;
    }
    .cabecalho { 
        display: block;
    }
    .logo-nav img { 
        height: 50px;
        display: block;
        margin: 4% auto;
        padding: 0;
    }
    .menu-nav ul {
        padding: 0;
    }
    .menu-nav li { 
        font-size: 2rem;
        margin: 0 auto;
    }
    .carrinho-de-compras img { 
        height: 50px;
        display: block;
        margin: 2% 45%;
    }
    .titulo-site { 
        margin: 0 auto;
        padding: 1% 3%;
        font-size: 2rem;
    }
    .sub-titulo {
        margin: 1% auto;
        font-size: 2rem;
    }
    .sobre-loja img {
        width: 70%;
        height: 10%;
        margin: 1% 10%;
    }
    .produtos-venda ul { 
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }
    .produtos-venda img { 
        height: 400px;
    }
    .button { 
        margin: 3% 25%;
        width: 50%;
        height: 40%;
        font-size: 1.5rem;
    }
    footer { 
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1024px){
    #container {
        display: block;
        margin: 0 auto;
    }
    .cabecalho { 
        justify-content: center;
    }
    .sobre-loja img {
        width: 300px;
        display: block;
        margin: 0 auto;
    }
    .titulo-site{
        padding: 1% 20%;
    }

}




